
<div class=" card container shadow">
  <br>
  <div class="row">
    <div class="col-md-3">     
      <ul *ngIf="villes" class="list-group">
        <li class="list-group-item disabled font-weight-bold">Villes</li>
        <li [ngClass]="v==cureentVille? 'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item clicable"
        (click)="onGetCinemas(v)">
          {{v.name}}</li>
      </ul>
    
   
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading font-weight-bold">Liste des Cinemas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li [ngClass]="c==currentCinema? 'active':''" *ngFor="let c of cinemas._embedded.cinemas" class="clicable">
              <a (click)="onGetSalles(c)">{{c.name}}</a>
            </li>
          </ul>
          <br>
          <div *ngIf="salles" class="row">
            <div *ngFor="let s of salles._embedded.salles" class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading font-weight-bold">{{s.name}}</div>
                <div *ngIf="s.projections" class="panel-body">
                  <div class="row">
                    <div class="col-md-5">
                      <img width="150" src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}">
                    </div>
                    <div class="col-md-7">
                      <ul class="list-group">
                        <li class="list-group-item disabled font-weight-bold">Seances : </li>
                        <li [ngClass]="p==currentProjection? 'active':''" *ngFor="let p of s.projections._embedded.projections" class="list-group-item clicable" (click)="onGetPlaces(p)">
                          {{p.seance.heureDebut}} => Prix : {{p.prix|number:'0.00'}} DH
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="currentProjection">
                    <div *ngIf="currentProjection.salle.id==s.id">
                      <div class="row" *ngIf="currentProjection.tickets">
                        <button (click)="onSelectTicket(t)" [disabled]="t.reserve"  *ngFor="let t of currentProjection.tickets._embedded.tickets" class="{{getTicketClass(t)}}">
                          {{t.place.numero}}
                        </button>
                      </div>
                      <br>
                      <div *ngIf="selectedTicket.length>0">
                        <form #f="ngForm" (ngSubmit)="onPayTickets(f.value)">
                          <div class="form-group">
                            <label class="control-label">Nom Client : </label>
                            <input class="form-control" type="text" name="nomClient" ngModel>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Code Paiement : </label>
                            <input class="form-control" type="text" name="codePayement" ngModel>
                          </div>
                          <div class="row justify-content-center"> 
                            <button type="submit" class="btn btn-warning"><span class="spinner-grow spinner-grow-sm"></span>Payer</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
