

<nav class="navbar navbar-fixed-top navbar-expand-sm color">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/image/logo.png" alt="logo" style="width: 150px;">
  </a>
</nav>
<br><br><br><br>
<div id="demo" class="carousel slide" data-ride="carousel">

 
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image/papel.jpg" alt="Los Angeles" width="1800" height="785">
      <div class="carousel-caption">
        <h2 class="font-italic">La Casa de Papel</h2>    
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/image/secret.jpg" alt="Chicago" width="1800" height="785">
      <div class="carousel-caption">
        <h2 class="font-italic">Secret Obsession</h2>
      </div>
    </div>
    
    <div class="carousel-item">
      <img src="assets/image/extraction.jpg" alt="New York" width="1800" height="785">
      <div class="carousel-caption">
        <h2 class="font-italic">Extraction</h2>
      </div>
    </div>
  </div>
  
   
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<br>

<div class="card bg-light text-dark">
  <div class="card-body">
    <h1>Comédie</h1>
    <ng-image-slider [images]="imageComedie" #nav></ng-image-slider>
  </div>
</div>

<div class="card bg-dark text-white">
  <div class="card-body">
    <h1>Action</h1>
    <ng-image-slider [images]="imageAction" #nav></ng-image-slider>
  </div>
</div>

<div class="card bg-light text-dark">
  <div class="card-body">
    <h1>Dramatique</h1>
    <ng-image-slider [images]="imageDrama" #nav></ng-image-slider>
  </div>
</div>

<div class="card bg-dark text-white">
  <div class="card-body">
    <h1>Fiction</h1>
    <ng-image-slider [images]="imageFiction" #nav></ng-image-slider>
  </div>
</div>

<hr>

<div class="row justify-content-center"><h3> <span>Achetez vos Tickets!!</span> </h3></div>

<app-cinema></app-cinema>



<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <img  src="assets/image/logo.png" alt="logo" style="width: 150px;" >
      
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Suivez-nous</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Instagram"><i class="fa fa-instagram"></i></a></li>
             <li><a href="#" class="icoTwitter" title="Instagram"><i class="fa fa-twitter"></i></a></li>
            </ul>				
		</div>
    </div>
    <br><br>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Maryam TAIAA.</p>
		</div>
	</div>


  </div>
  </div>
</footer>